body {
    background-color: lightgray;
}

.el1, .el2 {
    width: 50px;
    height: 50px;
}

.frame1 .el1, .frame1 .el2 {
    background-color: yellow;
}
.frame3 .el1, .frame3 .el2 {
    background-color: blue;
}
.frame2 .el1 {
    background-color: yellow;
}

.frame2 .el2 {
    background-color: blue;
}

.frame1, .frame2, .frame3 {
    border: 2px solid black;
}